.blog-card {
  cursor: pointer;

  & .image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1.1;
    flex: 1;
    & figure {
      position: relative;
      overflow: hidden;
      will-change: transform;
      width: 100%;
      height: 100%;
      transition:
        filter 0.3s,
        transform 0.3s;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(128, 128, 128, 0.025);
      & a {
        scale: 0;
        z-index: 10;
      }
    }
  }

  & .content {
    flex: 1;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    & h4 {
      line-height: 1.25;
    }
    & a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 0.5rem;
      width: fit-content;
      --arrow-size: 1rem;
    }
  }

  &:hover {
    & .image {
      & figure {
        filter: blur(2px);
        transform: scale(1.1);
      }
      & a {
        scale: 1;
      }
    }
  }

  @media (width < 640px) {
    & .image {
      aspect-ratio: 16/9;
    }
  }
}

.blog-card-highlight {
  background: #fff;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;

  & .image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1.1;
    flex: 1;
    & figure {
      position: relative;
      overflow: hidden;
      will-change: transform;
      width: 100%;
      height: 100%;
      transition:
        filter 0.3s,
        transform 0.3s;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(128, 128, 128, 0.025);
      & a {
        scale: 0;
        z-index: 10;
      }
    }
  }

  & .content {
    flex: 1;
    padding: 0 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;

    & h3 {
      line-height: 1.25;
    }
    & a {
      --arrow-size: 1rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: fit-content;
      margin-top: 0.5rem;
    }
  }

  &:hover {
    & .image {
      & figure {
        filter: blur(2px);
        transform: scale(1.1);
      }
      & a {
        scale: 1;
      }
    }
  }

  @media (width < 768px) {
    flex-direction: column;
    background: transparent;
    & .image {
      aspect-ratio: 16/9;
    }
    & .content {
      padding: 1rem 0 0 0;
    }
  }
}

@media (width >= 1025px) {
  .about-stat section:not(:last-of-type) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0rem;
      transform: translateY(-50%);
      width: 1px;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--dark-teal) 50%, rgba(0, 0, 0, 0) 100%);
    }
  }
}
