@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-yellow: var(--yellow);
  --color-dark-teal: var(--dark-teal);
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --breakpoint-sm: 641px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1281px;
  --breakpoint-2xl: 1537px;
}

@theme {
  --radius-3xl: 1.25rem;
  --radius-4xl: 1.5rem;
}

@utility prose {
  /* Typography */
  del {
    @apply line-through opacity-60;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-8 mb-4 font-bold empty:hidden;
  }

  p {
    @apply mb-4 empty:hidden;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }

  img {
    @apply w-full rounded-xl bg-black/20 object-cover;
  }

  /* Lists */

  ol,
  ul {
    @apply mb-4 ml-8;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  /* Tables */

  table {
    @apply my-4 w-full table-auto border-collapse text-left text-sm/6;

    caption {
      @apply mt-2 caption-bottom text-left text-sm/6;
    }

    thead {
      @apply border-b border-neutral-200;
    }

    tfoot {
      @apply border-t border-neutral-200;
    }

    tr {
      @apply border-y border-neutral-200 first:border-t-0 last:border-b-0;
    }

    th {
      @apply align-bottom font-semibold;
    }

    td,
    th {
      @apply p-2 first:pl-0 last:pr-0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @apply my-2 first:mt-0 last:mb-0;
      }
    }
  }
}

@utility container {
  padding-inline: 1.25rem;
  margin-inline: auto;
  max-width: 1360px;

  @variant max-2xl {
    max-width: 1360px;
  }

  @variant max-xl {
    max-width: 1025px;
  }

  @variant max-lg {
    padding-inline: 2rem;
  }

  @variant max-md {
    padding-inline: 1.25rem;
  }
}

@layer components {
  [class*="btn-"],
  .btn {
    padding: 0.625rem 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.625rem;
    border-radius: 99999px;
    transition:
      background-color 0.2s,
      color 0.2s;

    &:hover {
      background-color: var(--yellow);
      color: #fff;
    }

    & .svg-icon {
      width: 1.25rem;
      height: 1.25rem;
      position: relative;
    }
  }

  .btn-primary {
    --arrow-color: red;
    background-color: var(--color-primary);
    color: #fff;
    & .svg-icon {
      background-color: #fff;
    }
  }

  .btn-yellow {
    background-color: var(--color-yellow);
    color: #fff;
    & .svg-icon {
      background-color: #fff;
    }

    &:hover {
      background-color: var(--color-dark-teal);
    }
  }

  .btn-blur {
    border-radius: 9999px;
    background-color: rgba(64, 64, 64, 0.3);
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
    padding: 0.625rem 1.75rem;
    border: 1px solid rgba(187, 187, 187, 0.15);
    font-family: "Inter", "IBM Plex Sans Thai", sans-serif;
    transition: scale 0.3s;
    overflow: hidden;
    z-index: 1;

    &:hover {
      background-color: rgba(64, 64, 64, 0.1);
    }
    &:hover&::before {
      transform: translateY(0);
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
      background-color: var(--primary);
      z-index: -1;
      transition: transform 0.3s;
      top: 0;
      left: 0;
    }
  }

  .glass-element {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    /* -webkit-backdrop-filter: blur(1px); */
    border: 1px solid rgba(187, 187, 187, 0.15);
  }
}

.arrow-btn {
  --arrow-color: currentColor;
  position: relative;
  padding-right: calc(var(--arrow-size, 1.25rem) * 2.5);

  &:hover {
    &::before {
      transform: translateX(100%);
      opacity: 1;
    }
    &::after {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: var(--arrow-size, 1.25rem);
    height: var(--arrow-size, 1.25rem);
    background-color: var(--arrow-color, currentColor);
    -webkit-mask: url("../../icons/arrows-button.svg") no-repeat center;
    mask: url("../../icons/arrows-button.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    top: 50%;
    translate: -50% -50%;
    transition:
      transform 0.3s,
      opacity 0.15s;
  }

  &::after {
    right: calc(var(--arrow-size, 1.25rem) / 2);
  }

  &::before {
    right: calc(var(--arrow-size, 1.25rem) * 1.5);
    opacity: 0;
  }
}

@layer base {
  h1 {
    font-size: var(--fs-h1);
    line-height: 1.2;
  }

  h2 {
    font-size: var(--fs-h2);
    line-height: 1.2;
    letter-spacing: -1.75px;
  }

  h3 {
    font-size: var(--fs-h3);
    letter-spacing: -1.5px;
  }

  h4 {
    font-size: var(--fs-h4);
    letter-spacing: -1.5px;
  }

  h5 {
    font-size: var(--fs-h5);
    letter-spacing: -1.5px;
  }

  h6 {
    font-size: var(--fs-h6);
    letter-spacing: -1.5px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
}

@layer components {
  .text-h1 {
    font-size: var(--fs-h1);
    line-height: 1.2;
  }

  .text-h2 {
    font-size: var(--fs-h2);
    line-height: 1.2;
    letter-spacing: -1.75px;
  }

  .text-h3 {
    font-size: var(--fs-h3);
    letter-spacing: -1.5px;
  }

  .text-h4 {
    font-size: var(--fs-h4);
    letter-spacing: -1.5px;
  }

  .text-h5 {
    font-size: var(--fs-h5);
    letter-spacing: -1.5px;
  }

  .text-h6 {
    font-size: var(--fs-h6);
    letter-spacing: -1.5px;
  }
}
